:root {
  --primary-color: #7c3aed;
  --secondary-color: gray;
  --offwhite: #f3f4f6;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
}

/** navbar **/
.navbar {
  background-color: var(--primary-color);
  color: white;
  padding-inline-start: 0rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem 1.5rem;
}

.nav-links {
  list-style: none;
  display: inline;
  padding: 1rem;
}

.nav-list {
  text-align: right;
}

.links {
  text-decoration: none;
  color: white;
}

.hero-img {
  max-width: 300px;
}

.header-image {
  text-align: center;
}

.header {
  text-align: center;
}

.offwhite {
  background-color: var(--offwhite);
}

.container {
  padding: 1rem 0rem;
}

.container-center {
  text-align: center;
  margin: auto;
  padding-inline-start: 0px;
}

.footer {
  background-color: var(--primary-color);
  padding-inline-start: 0;
  border-top-right-radius: 1rem;
  padding: 2.5rem 0;
}

.footer-links {
  list-style: none;
  color: white;
  display: inline;
  padding: 0.5rem;
}

.footer-header {
  color: white;
  font-weight: bold;
}

.section {
  padding: 1rem 0rem;
  border-radius: 1rem;
}

.hero-header {
  max-width: 320px;
  font-size: 2rem;
}

.header-text {
  color: var(--primary-color);
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer .footer-items {
  padding-inline-start: 0px;
}

.nav-brand {
  font-weight: bold;
}

.primary-link {
  text-decoration: none;
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

p {
  padding-bottom: 1rem;
}

.secondary-link {
  text-decoration: none;
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.nav-brand {
  font-size: 1rem;
  padding-left: 0.5rem;
}

span {
  color: var(--primary-color);
}

.fab {
  font-size: 1.5rem;
}

.heading {
  padding: 2rem 0;
}
ul {
  padding-inline-start: 0%;
}

.section a {
  display: block;
  text-align: center;
  
  
}