@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap");

:root {
  --primary: #515e7b;
  --secondary: #f6c453;
}

.container {
  text-align: center;
  margin: 1rem;
}

.fab {
  font-size: 2rem;
  padding: 0 0.2rem;
}

.footer {
  text-align: center;
}

.footer-items {
  list-style: none;
  display: inline-block;
  padding: 0 0.2rem;
}

.links {
  text-decoration: none;
  color: #677579;
}

#footer-menu {
  padding-inline-start: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#img-header {
  text-align: center;
  max-width: 20rem;
  max-height: 10%;
  margin: auto;
}

p {
  max-width: 80%;
  margin: 1rem auto;
}

.button-container {
  margin: 2rem;
}

.button-container a {
  background-color: #014073;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  border-radius: 0.8rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.button-container .secondary {
  background-color: gray;
  color: black;
  font-weight: 500;
}

body {
  font-family: "Ubuntu", sans-serif;
}

small {
  color: red;
}

section {
  padding: 1rem;
  border-radius: 0.8rem;
  border: #677579 2px solid;
  margin: 1rem;
}

#footer-brand {
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  text-align: right;
  padding-inline-start: 0;
}

.nav-items {
  display: inline-block;
  margin: 0.2rem 1.5rem;
}

.nav-links {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.active {
  border-bottom: 3px solid #014073;
  padding-bottom: 0.5rem;
}

.fa-html5 {
  color: #e96228;
}

.fa-css3-alt {
  color: #2862e9;
}

.fa-git {
  color: #3f2e00;
}

.fa-js-square {
  color: #efd81d;
}

.fa-node {
  color: #313131;
}

.fa-react {
  color: #5ed3f3;
}

p {
  font-weight: 400;
}
